.main-container{
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  height: 75vh;
  scroll-behavior: smooth;
}

.main-container h1{
  font-size: 75px;
  color: #d9463a;
  font-weight: 900;
}

.main-container h3{
  font-size: 20px;
  color: #4c4c4c;
  font-family: 'Poppins';
}

.main-texts{
  display: flex;
  flex-direction: column;
  margin-right: 140px;
}

.main-images{
  display: flex;
  flex-direction: row;
  gap: 22px;
  border-radius: 15px;
}

.main-images img{
  border: 1px solid black;
  height: 600px;
  width: 450px;
  border-radius: 15px;
}

.about-container{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  height: 60vh;
}

.about-container h1{
  color: #d9463a;
  font-size: 70px;
  text-align: center;
}

.about-container h3{
  color: #4c4c4c;
  font-size: 24px;
  text-align: center;
}

.menu-image{
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  height: 90vh;
}

.menu-image h2{
  color: #d9463a;
  font-size: 48px;
}

.menu-image img{
  width: 70%;
  margin: 0 auto;
  border: 1px solid #4c4c4c;
  border-radius: 12px;
}

.ingredients-section {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

.ingredients-section h1 {
  color: #d9463a;
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #ffeae5;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 1px solid #4c4c4c;
}

.ingredient:nth-child(even) {
  flex-direction: row-reverse;
}

.ingredient img {
  width: 35%;
  border-radius: 12px;
  border: 1px solid #4c4c4c;
}

.ingredient-text {
  flex: 1;
}

.ingredient-text h2 {
  color: #d9463a;
  font-size: 36px;
  font-weight: bold;
}

.ingredient-text p {
  font-size: 18px;
  color: #4c4c4c;
}